.container2{
width: 80vw;
margin: 2vw 10vw;  
}

.container{
  margin: 1vw 10vw;
}


h2{
  color: black;
}

.catandinputs{
  background-color: #fff;
  padding: 3vw;
  display: grid;
  grid-template-columns: 35% auto;
  gap: 5vw;
}

.cats{
  display: block;
}

.cats button{
  
  width: 100%;
  line-height: 2;
  color: #fff;
  padding: 0.5vw 2vw;
  margin: 0.8vw 0;
  height: 3.5vw;
}

.cats button img{
  width: 2vw;
  float: right;
}

.add{
  background-color: #616976;
}

.cats input{
  width: 83%;
  padding: 0 2vw;
  border: 2px solid #616976;
  background: transparent;
  height: 3vw;
  margin: 0.5vw 0;
  font-size: 1vw;
  height: 3.5vw;
}

.columns{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2vw;
}

.inputs input{
  width: 79%;
  padding: 0 2vw;
  border: 2px solid #616976;
  background: transparent;
  margin: 0.8vw 0;
  font-size: 1vw;
  height: 3.2vw;
}

textarea{
  width: 90%;
  padding: 0.8vw 2vw;
  border: 2px solid #616976;
  background: transparent;
  height: 1.9vw;
  margin: 0.4vw 0;
  font-size: 1vw;
}

.selandbutton{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2vw;
}

.inputs button{
  
  width: 100%;
  line-height: 2;
  color: #fff;
  padding: 0.5vw 2vw;
  margin: 0.8vw 0;
  height: 3.5vw;
}

select{
  width: 100%;
  padding: 0.5vw 2vw;
  border: 2px solid #616976;
  background: transparent;
  color: #616976;
  height: 3.5vw;
  margin: 0.8vw 0;
  line-height: 2;
 
}

.cat{
  margin: 1vw 0;
}




.posit img{
width: 10vw;
}

.input-file {
	position: relative;
	display: inline-block;
}
.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	vertical-align: middle;
  width: 100%;
  padding: 0 2vw;
  letter-spacing: 2.1px;
  border: 2px solid #616976;
  background: transparent;
  height: 3.3vw;
  margin: 0.8vw 0;
	padding: 10px 20px;
	box-sizing: border-box;
	transition: background-color 0.2s;
  color: #616976;

}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}



.content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3vw;
  row-gap: 4vw;
  margin-top: 4vw;
}

.card {
  border: 1px solid #CE8F5A;
  background-color: #fff;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
}

.card p {
  font-size: 1vw;
  font-weight: 600;
}

.card img {
  width: 80%;
  height: 8vw;
  object-fit: contain;
  margin-bottom: 1vw;
}

.card h1 {
  margin: 1vw 0;
  font-size: 1.4vw;
  letter-spacing: 2px;
  font-weight: 700;
}

.btn {
  margin-top: 1vw;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vw;
}


.card button {
  width: 100%;
  color: #fff;
  padding: 0.8vw;
}


